.tab {
  overflow: hidden;
  background-color: #ccc;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  padding: 14px 16px;
}

.tab button:hover {
  color: hsla(0, 0%, 100%, .7);
}

.tab button.active {
  background-color: #b3b3b3;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.external-container {
  display: flex;
}

.external-container-inner {
  width: 33.33333333%;
  margin-right: 10px;
  margin-left: 10px;
}