.contact-intro {
  padding: 30px 30px;
}

.contact-info {
  width: 50%;
  margin-top: -60px;
}

.contact-info-row {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-info-text {
  width: 25%;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-weight: 400;
}

.contact-info-text.cc-text-black {
  width: auto;
  color: #000;
}
.container {display: flex; flex-direction: row;}