.container-facts {
  display: flex;
}

.facts {
  padding-top: 50px;
  background-color:white;
}

.fact-block {
  padding: 50px 40px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
}

.image {
  margin-bottom: 10px;
}

.question {
  padding: 40px 30px 50px;
  background-color: #fafafa;
}

.container-questions {
  display: flex;
  margin: -50px -10px;
}

.question-block {
  width: 50%;
  margin: 30px 50px 30px 10px;
}

.container-facts-inner {
  display: flex;
  width: 25%;
}
